# Python build, virtual environments, and buildouts
.venv
venv
__pycache__/
dist/
build/
*.egg-info
.*.cfg
develop-eggs/
.python-eggs/
.eggs/
pip-selfcheck.json
.python-version

# Python testing artifacts
.coverage
htmlcov
.tox/

# Object files
*.o
*.pkl
*.py[ocd]

# Libraries
*.lib
*.a

# Eclipse files
.settings/
*.project
*.classpath

# Editor support
.idea/
*.iml
.vscode
*.sublime-*

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
lib/
lib64/

# Executables
*.exe
*.out
*.app

# Temporary files
*~
.*.swp
var/

# other stuff
*.log
*.xpr
bin/
.*.swp
typescript
.ipynb_checkpoints

# OS-specific artifacts
.DS_Store
._*

# Exclusions
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep

# Project-specific
pds_doi_service.ini
doi_service.env
allure/
WhereAmI.py
doi.db
output/
transaction_history/
docs/Makefile
docs/design/PDS-technical-architecture.pdf
docs/make.bat
doi_temp.db
tests/aaDOI_production_submitted_labels.zip
tests/aaDOI_production_submitted_labels/
