# Object files
*.pyc

# IntelliJ files
.idea/
*.iml

# Temporary files
*~

# other stuff
dist/
pds_doi_service.ini
.DS_Store
allure/
pds_doi_service/api/pds_doi_api.egg-info/
pds_doi_core.egg-info/
pds_doi_service/core/.DS_Store
venv/
WhereAmI.py
build/
doi.db
output/
transaction_history/
.eggs/
docs/Makefile
docs/design/PDS-technical-architecture.pdf
docs/make.bat
doi_temp.db
tests/aaDOI_production_submitted_labels.zip
tests/aaDOI_production_submitted_labels/


