<h2>DataCite DOI Weekly Roundup</h2>

<p>The following DOIs were reserved, updated or released during the week {{ week_start.strftime('%m/%d') }} through {{ week_end.strftime('%m/%d') }}:</p>
<ul>

    <li>10.17189/11111 urn:nasa:pds:product_11111::1.0 (Findable) submitted {{ modifications_date.isoformat() }}</li>

    <li>10.17189/22222 urn:nasa:pds:product_22222::1.0 (Findable) updated {{ modifications_date.isoformat() }}</li>

</ul>


<p><a href="mailto:Jordan.Padams@jpl.nasa.gov?subject=doi-service DOI Weekly Roundup">Contact Us</a></p>
